<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (C) 2014 AChep@xda <artemchep@gmail.com>
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
  ~ MA  02110-1301, USA.
  --><!-- Welcome to Hell. Take care of your mind. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.achep.acdisplay"
    android:versionCode="77"
    android:versionName="4.0">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />

    <!-- Needed to detect activity changes. -->
    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <!-- Needed to change system screen off timeout settings. -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Needed to be able to get notifications from system. -->
    <permission android:name="android.permission.STATUS_BAR_SERVICE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

    <!-- Needed to provide donation via IAB. -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="false"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".ui.activities.AcDisplayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="nosensor"
            android:theme="@style/MaterialTheme.AcDisplay" />

        <activity
            android:name=".ui.activities.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.IntroActivity"
            android:launchMode="singleTask"
            android:theme="@style/MaterialTheme.Fullscreen" />

        <activity
            android:name=".ui.activities.settings.Settings2"
            android:label="@string/settings"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.activities.MainActivity"
            android:taskAffinity=".settings"
            android:theme="@style/MaterialTheme.Dashboard" />

        <activity
            android:name="com.achep.base.ui.activities.SubSettings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".ui.activities.settings.Settings2"
            android:taskAffinity=".settings" />

        <activity
            android:name=".ui.activities.settings.WidgetPickerActivity"
            android:label="@string/settings_custom_widget_title"
            android:parentActivityName=".ui.activities.settings.Settings2"
            android:taskAffinity=".settings"
            android:theme="@style/MaterialTheme.WidgetPicker" />

        <activity
            android:name=".ui.activities.settings.SettingsProximitySensorActivity"
            android:label="@string/settings_proximity_sensor_title"
            android:parentActivityName=".ui.activities.settings.Settings2"
            android:taskAffinity=".settings" />

        <activity
            android:name=".ui.activities.settings.BlacklistActivity"
            android:label="@string/blacklist"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.activities.settings.Settings2"
            android:taskAffinity=".settings"
            android:theme="@android:style/Theme.Holo" />

        <activity
            android:name=".ui.activities.settings.SubBlacklistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/blacklist_app_config"
            android:parentActivityName=".ui.activities.settings.BlacklistActivity"
            android:taskAffinity=".settings"
            android:theme="@android:style/Theme.Holo" />

        <activity
            android:name=".ui.activities.tests.ShakeTestActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.activities.settings.Settings2"
            android:taskAffinity=".settings"
            android:theme="@style/Base.MaterialTheme.Fullscreen" />

        <activity
            android:name=".ui.activities.tests.IdleExitTestActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.activities.settings.Settings2"
            android:taskAffinity=".settings"
            android:theme="@style/Base.MaterialTheme.Fullscreen" />

        <!-- This is needed to access notifications and to control music. -->
        <service
            android:name=".services.MediaService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
                <action android:name="com.achep.acdisplay.BIND_MEDIA_CONTROL_SERVICE" />
            </intent-filter>
        </service>

        <service
            android:name=".services.AccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/extras_accessibility_config" />
        </service>

        <!-- Foreground service that may contain both Keyguard and Active mode. -->
        <service
            android:name=".services.BathService"
            android:label="@string/service_bath" />

        <!--
            This is transparent activity for handling internal intents.
            -->
        <activity
            android:name=".receiver.LocalReceiverActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="acdisplay" />
            </intent-filter>
        </activity>

        <!-- A receiver to start some services. -->
        <receiver android:name=".receiver.ReceiverSystem">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Device admin rights. -->
        <receiver
            android:name=".receiver.AdminReceiver"
            android:description="@string/permissions_device_admin_description"
            android:label="@string/permissions_device_admin_title"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/extras_device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- Receiver for a widget -->
        <receiver android:name=".providers.ToggleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/extras_appwidget_toggle_config" />
        </receiver>

        <!-- For sending logs as attachments -->
        <provider
            android:name=".providers.LogAttachmentProvider"
            android:authorities="com.achep.acdisplay.logs"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <!--
            //////////////////////////// Public ////////////////////////////
            -->

        <receiver
            android:name=".receiver.ReceiverPublic"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.achep.acdisplay.ENABLE" />
                <action android:name="com.achep.acdisplay.DISABLE" />
                <action android:name="com.achep.acdisplay.TOGGLE" />
                <!-- Active mode -->
                <action android:name="com.achep.acdisplay.ACTIVE_MODE_ENABLE" />
                <action android:name="com.achep.acdisplay.ACTIVE_MODE_DISABLE" />
                <action android:name="com.achep.acdisplay.ACTIVE_MODE_TOGGLE" />
            </intent-filter>
        </receiver>

        <!--
            /////////////////////// Plugins & Modules //////////////////////
            -->

        <!--
            PowerToggles plugin.
            http://powertoggles.com
            -->
        <receiver
            android:name=".plugins.powertoggles.ToggleReceiver"
            android:exported="true"
            android:icon="@drawable/ic_toggle_acdisplay"
            android:label="@string/app_name"
            android:permission="com.painless.pc.permission.CONTROL_PLUGIN">
            <intent-filter>
                <action android:name="com.painless.pc.ACTION_SET_STATE" />
            </intent-filter>
        </receiver>

        <!--
            Xposed module.
            http://xposed.info
            -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.0*" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/plugin_xposed_description" />

    </application>

</manifest>
